@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #FFFB9A;
    --secondary: #C38944;
}
.bg-theme-color {
  background-color: var(--primary);
}

.theme-color{
    color: var(--primary)
}
.theme-secondary-color{
    color:var(--secondary)
}

